.profile {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

/* PHOTO */
.profile-photo img {
  width: 100px;        
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* TEXT */
.profile-text {
  max-width: 600px;
}
